// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  margin-bottom:10px;
}

.favourite_image {
  max-height:100px;
  max-width:100px;
}
.friend_image {
  max-height:100px;
  max-width:80px;
}
.large-user-image {
 padding-top:60px; 
}